@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide login page if logged in */
.logged-in .pre-login {
    display: none;
}

/* hide views which need login if not logged in */
:not(.logged-in) > .login-required {
    display: none;
}

/* show only onboarding elements for new user */
.new-user > :not(.new-user-show) {
    display: none;
}

/* hide onboarding elements if not new user */
:not(.new-user) > .new-user-only {
    display: none;
}

th, td {
    padding: 0.5rem;
    text-align: left;
}

/* hide <main> if loading */
.loading > main {
    display: none;
}

/* hide cards if loading */
.loading > div > #cards {
    display: none;
}

/* hide spinner if not loading */
:not(.loading) > #spinner {
    display: none;
}

/* spinner from https://tobiasahlin.com/spinkit/ */
.spinner {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
    0% { 
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}